<%- include ('header') %>
<div class="row">
  <div class="col-md-12 mx-auto text-center mt-5 p-5 rounded">
         <h2> <%= status %> </h2>
         <h3> <%= message %> </h2>
  </div>
</div>
    <%- include ('footer') %> 
 </body>
</html>