<%- include ('header') %>
<div class="row">
  <div class="col-md-6 mx-auto text-center mt-5 p-5 rounded">
    <img src='<%= src %>' title='<%= title %>' />
  </div>
</div>
    <%- include ('footer') %> 
 </body>
</html>